.content-container .cart-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}


.content-container .cart-container .cart-icon-container{
    height: 35px;
    width: 35px;
    position: relative;
}

.content-container .cart-container .shop-cart-button{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.content-container .cart-container .products-quantity{
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: var(--yellow);
    border-radius: 50%;
    height: 14px;
    min-width: 15px;
    padding: 2px;
    padding-top: 4px;
    text-align: center;
    font-size: 14px;
    font-family: Comfortaa-light;
}




.cart-modal-container{
    width: 60%;
    background-color: white;
    display: none;
    position: absolute;
    top: 110px;
    left: 20%;
    border-radius: 20px;
    padding: 100px 0;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);   

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-modal-container.active{
    display: flex;
}

.cart-modal-container .cart-modal-close{
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.cart-modal-container h4{
    font-size: 28px;
    font-family: Comfortaa-light;
    color: var(--blue);
    margin-bottom: 50px;
}

.cart-modal-container .cart-products-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin-bottom: 35px;
    width: 75%;
}

.cart-modal-container .cart-product-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.cart-modal-container .cart-product-item .info-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    max-width: 55%;
    height: 100%;
}

.cart-modal-container .cart-product-item .info-left .cart-delete-product{
    margin-top: 40px;
    cursor: pointer;
}

.cart-modal-container .cart-product-item .info-left .product-img{
    max-width: 90px;
    max-height: 100%;
}

.cart-modal-container .cart-product-item .info-left .product-name{
    color: var(--blue);
    font-size: 16px;
    font-family: Comfortaa-light;
    line-height: 18px;
}



.cart-modal-container .cart-product-item .info-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 15px;
    width: 25%;
    height: 100%;
}

.cart-modal-container .cart-product-item .info-right .product-quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20%;
    width: 100%;
    height: 45px;
    border-radius: 96px;
    border: 2px solid var(--blue);
}

.cart-modal-container .cart-product-item .info-right .product-quantity .product-quantity-changer{
    cursor: pointer;
}

.cart-modal-container .cart-product-item .info-right .product-quantity p{
    font-size: 18px;
    font-family: Comfortaa-medium;
    color: var(--blue);
}

.cart-modal-container .cart-product-item .info-right .product-price{
    font-size: 20px;
    font-family: Comfortaa-bold;
    color: var(--blue);
}


.cart-modal-container .separator{
    height: 1px;
    width: 90%;
    background-color: var(--blue);
    margin-bottom: 35px;
}


.cart-modal-container .total-price-container{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.cart-modal-container .total-price-container p{
    font-size: 16px;
    font-family: Comfortaa-light;
    color: var(--blue);
}

.cart-modal-container .total-price-container p.total-price{
    font-size: 24px;
    font-family: Comfortaa-bold;
    color: var(--blue);
}

.cart-modal-container .cart-buttons-container{
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart-modal-container .cart-buttons-container button{
    width: 45%;
    max-width: 285px;
    height: 45px;
    border: 0;
    background-color: var(--yellow);
    color: var(--blue);
    font-size: 18px;
    font-family: Comfortaa-medium;
    border-radius: 96px;
    cursor: pointer;
}

.cart-modal-container .cart-buttons-container button.back-to-shopping{
    border: 2px solid var(--blue);
    background-color: white;
}