footer{
    width: 100%;
    height: 650px;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    --blue: #232D5C;
    --lightBlue: #E7F4FB;
    --yellow: #FFDC5C;
}

footer .footer-content{
    width: 80%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-content .footer-logo-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
}


footer .footer-content .footer-info-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

footer .footer-content .footer-info-container .footer-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

footer .footer-content .footer-info-container .footer-menu a{
    color: white;
    font-family: Comfortaa-light;
    font-size: 20px;
}


footer .footer-content .footer-info-container .footer-links-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
}

footer .footer-content .footer-info-container .footer-links-container .footer-social-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

footer .footer-content .footer-info-container .footer-links-container .footer-social-container .separator{
    width: 2px;
    height: 25px;
    background-color: white;
}

footer .footer-content .footer-info-container .footer-links-container .footer-copyright{
    color: white;
    font-family: Comfortaa-light;
    font-size: 14px;
}


footer .footer-animals-container{
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url('../img/footer-animals.svg');
}